<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Sócio</title>
</head>
<body>
    <h1>Editar Sócio</h1>
    <form th:action="@{/web/socios/edit}" th:object="${socio}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label>Nome: <input type="text" th:field="*{nome}" /></label><br/>
        <label>CPF: <input type="text" th:field="*{cpf}" /></label><br/>
        <label>Data de Nascimento: <input type="date" th:field="*{dataNascimento}" /></label><br/>
        <button type="submit">Salvar</button>
    </form>
    <a href="/web/socios">Voltar</a>
</body>
</html>